body{
  overflow-x: hidden;
}
*{
  font-family: 'Work Sans', sans-serif;
}
.itemName{
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: 2%;
}
.Link{
  text-decoration: none;
  color: #292929;
  font-size: 1.2rem;
}
.account{
  margin-right: 8px;
  border-right: 2px solid #292929;
  padding-right: 8px;
}
.logout{
  margin-right: 20px;
}
.Link:hover{
  color: #F8994D;
}
.itemDetails{
  font-size: 1.2rem;
}
#navbar{
  background-color: white !important;
  border-bottom: 2px solid #F8994D;
}
 #logoImg{
   margin-left: 4%;
}
#section1 {
    height: 90vh;
}

#section2 {
    height: 90vh;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 8%;
    margin-bottom: 5%;
    border-top: 2px solid #F8994D;
}

#section3 {
    height: 90vh;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 4%;
    border-top: 2px solid #F8994D;
}

#section4{
  height: 90vh;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 8%;
  margin-bottom: 5%;
  border-top: 2px solid #F8994D;
}

#section2a{
    height: 400px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    border-radius: 20px;
    background-color: #F8994D;
    padding: 0 2%;
}
.one {
    float: left;
    text-align: left;
}
.two {
    float: right;
    text-align: right;
    margin-right: 3%;
}
.three {
    float: left;
    text-align: left;
    text-align: center;
    color: #F8994D;
    font-size: 2.2rem;
}
.four {
    float: right;
    text-align: right;
    margin-right: 3%;
    background-color: #F8994D;
    border-color:#F8994D;
}

.five {
    float: left;
    text-align: left;
    margin-left: 10%;
    font-size: 25px;
}
.six {
    float: right;
    text-align: left;
    margin-right: 10%;
    font-size: 25px;
}

.text_orange{
    color: #F8994D;
}
.centered{
  text-align: center;
}

.requestForm{
  border-radius: 20px;
  border: 2px solid #F8994D;
  margin-top: 5%;
  padding: 5%;
}
.inputGroup{
  display: inline !important;
  margin-left: 15vw;
}
.carousel-item{
  background-color: white;
  color: black;
  border-radius: 10px;
  height: 40vh;
  padding: 5%;
}
#contact{
  color: white;
  font-size: 1.5rem;
}
#requestLink{
  color: white;
  font-size: 1.5rem;
  background-color: #F8994D;
  border: none;
  width: 42%;
  margin-right: 3%;
  margin-top: 2%;
}
#reviewsLink{
  color: white;
  font-size: 1.5rem;
  background-color: #F8994D;
  border: none;
  width: 42%;
  margin-right: 3%;
  margin-top: 1%;
}
#request{
  color: white;
  font-size: 1.5rem;
  background-color: #F8994D;
  display: block;
  border: none;
  width: 100%;
  margin-right: 3%;
  margin-top: 4%;
}
#carouselReviews{
  background-color: #F8994D;
  margin: 4% 8%;
  height: 60vh;
  border-radius: 20px;
  padding: 5% 10%;
}
.postby{
  font-size: 20px;
  display: inline-block;
}
.rating{
  font-size: 20px;
  display: inline-block;
  float: right;
}
.review{
  text-align: center;
  font-size: 32px;
  color:#F8994D;
  font-family: 'Handlee', cursive;
  margin-top: 3%;
}
